<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
   	<session-factory>
	   <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
	   <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	 
	   <!-- Assume testDb Is The Database Name LOCAL -->
	   <!--  <property name="hibernate.connection.url">jdbc:postgresql://localhost/postgres</property>
	   <property name="hibernate.connection.username">postgres</property>
	   <property name="hibernate.connection.password">1234</property> -->
	   
	   <!-- Assume testDb Is The Database Name DESA -->
	   <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-216-17-9.eu-west-1.compute.amazonaws.com:5432/d3p25pkkmhdutt</property>
	   <property name="hibernate.connection.username">usaevoufkjicjv</property>
	   <property name="hibernate.connection.password">a37e4608ae9ee55f18ae5e706087a7343be11660d5360bbb339ee3f093d27bb2</property>
	 
	   <!-- List of XML Mapping Files -->
 	   <mapping resource="invazoras.hbm.xml"/>
 
	</session-factory>
</hibernate-configuration>
