<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
   	<session-factory>
	   <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
	   <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	 
	   <!-- Assume testDb Is The Database Name LOCAL -->
	   <!--  <property name="hibernate.connection.url">jdbc:postgresql://localhost/postgres</property>
	   <property name="hibernate.connection.username">postgres</property>
	   <property name="hibernate.connection.password">1234</property> -->
	   
	   <!-- Assume testDb Is The Database Name DESA -->
	   <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-228-9-90.eu-west-1.compute.amazonaws.com:5432/dee9377scvhvr1</property>
	   <property name="hibernate.connection.username">nzyoaqqdizgphe</property>
	   <property name="hibernate.connection.password">b827b26098aa531fc8af312babbf47d26e19d25d99bd8bb676f90e5c61c3137f</property>
	 
	   <!-- List of XML Mapping Files -->
<!-- 	   <mapping resource="usuario.hbm.xml"/>
	   <mapping resource="planta.hbm.xml"/>
	   <mapping resource="incidencia.hbm.xml"/>-->
 	   <mapping resource="invazoras.hbm.xml"/>
 
	</session-factory>
</hibernate-configuration>
